<div class="row">
  <div class="col-md-6 mx-auto mt-4">
    <div class="card card-body">
        <%- include('../partials/error')%>
        <%- include('../partials/success')%>
      <form action="/user/login" method="Post">
        <h3>Login</h3>
        <div class="from-group">
            <label for="username">Username</label>
            <input type="text" value="<%= typeof user != 'undefined'? user.username : null%>" class="form-control" name="username" id="username" placeholder="Username...">
          </div>
          <div class="from-group">
            <label for="Password">Password</label>
            <input type="password" value="<%= typeof user != 'undefined'? user.email : null%>" class="form-control" name="password" id="Password" placeholder="Password...">
          </div>
          <br />
          <input type="submit" value="Login" class="btn btn-dark">
      </form>
    </div>
  </div>
</div>